<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>Wnk92jUZzjvWLPaCKzWH1i0Ik</string>
	<key>consumer_Secret</key>
	<string>zirtzdZWzRaypEw56ungihd4VVXjvmi205g85hw7Qt07LjlNLQ</string>
</dict>
</plist>
